__pycache__/
*.pyc
*.log
*.pt
*.ckpt
*.pth
*.bin

.cache/
.env
wandb/
outputs/
datasets/

# editors / OS
.DS_Store
.vscode/
.idea/

/data
/exps

*output*
# temp / runtime junk
core.*
Environment
exps/
*.whl
